/*
        csclub.css
        
        FILE DESCRIPTION:
        
        	Main CSS for the BSU Accounting Club website.
                	
        MODIFICATION HISTORY:
        	
        	26-AUG-2008		Shawn Rakowski		New CSS.
        	09-AUG-2008		Shawn Rakowski		Modified from old CSS for
        										CS Club.
			17-SEP-2008		Erik Ludwinski		Modified css to remove gap on top and
            									changed header background.
*/

body
{
	text-align: left;
	background-color: #F0ECE0;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 90%;
	margin: 0;
	padding: 0;
	background-image: url(../images/Background.jpg);
	background-size: 100% 100%;
}

#body
{
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: 804px;
}


a, a:link, a:visited, a:active
{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 
}

a:hover
{
	color:#9AB 
}

/* GLOBAL HEADER */

#globalheader
{
	background: #F0ECE0 url(../images/global_nav_subhead_background.jpg);
	width: 804px;
	height: 34px;
	font-size: 70%;
}

#globalhomelogo a
{
	display: block;
	width: 100%;
	height: 100%;
}

#globalheadernav ul 
{
	list-style-type: none;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	white-space: nowrap;
}

#globalheadernav ul li
{
	display: inline;
	color: #000;
	text-decoration: none;
	padding: 0 5px;
	border-left: 1px dotted #cbcbcb;
}

#globalheadernav ul li:first-child 
{
	border-left: none;
}

#globalheadernav ul li a, 
#globalheadernav ul li a:link, 
#globalheadernav ul li a:visited, 
#globalheadernav ul li a:active
{
 color: #394a18;
}

#globalheadernav ul li a:hover 
{
 color: #394a18;
 text-decoration: underline;
}

#globalhomelogo 
{
	background-image:url(../images/global_nav_subhead_logo.jpg);
	background-repeat:no-repeat;
	height:23px;
	left:19px;
	position:relative;
	top:6px;
	width:286px;
}

.noscreen
{
	display: none;
}

#page
{
	margin: 0 auto;
	padding: 0;	
	width: 800px;
	border-bottom: 1px solid white;
	background-color: #345;
	height: 100%;
}

#wrapper{
	width: 100%;
	height: 100%;
	background-color: #345;
	background-image: url(../images/content-back.png);
	background-size: 100% 100%;
}

#page_end
{
	clear: both;
}

#banner
{
	background-image: url(../images/new-banner.png);
	height: 120px;
	width: 800px;
	border-bottom: 1px solid white;
}

#right_col
{
	float: left;
	width: 150px;
	margin: 0;
	min-height: 700px;
	/*border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;*/
}

#right_col #nav
{
	width: 128px;
	margin: 0;
	padding: 10px;
}

#right_col #nav ul
{
	list-style: none;
	padding: 0 0 0 10px;
	margin: 0;
}

#right_col #nav ul li
{
	padding: 2px 0;
}

#left_col_title
{
	margin: 0;
	padding: 10px;	
	float: left;
	background-color: #345;
	background-image: url(../images/content-back.png);
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 19px;
	width: 628px;
	border-bottom: 1px solid white;
	border-left: 1px solid #FFFFFF;
}

#title
{
	font-weight: bold;
	color: white;
}

#left_col
{
	margin: 0;
	padding: 10px;	
	float: left;
	min-height: 640px;
	width: 628px;
	border-left: 1px solid #FFFFFF;
}

#content
{
	color: white;
}

#content a
{
	text-decoration: underline;
	font-weight: normal;
}

#footer
{	
	clear: both;
	text-align: center;
	background-image:url(../images/footer_background.jpg);
	background-repeat:no-repeat;
	height:87px;
	width:804px;
}

#footer a
{
	color: #234;
}

#copyright
{
	font-size: 80%;
	padding-top: 30px;
}

#win_laptop
{
	float: right;
	margin: 5px 10px 0 0;
}

#win_laptop:hover
{
	cursor: pointer;
}

#officers-list
{
	list-style-type: none;
	font-size: 1.2em;
}
#officers-list li{
	margin-top: 15px;
}
/*
body 
{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #F0EDDF;
	margin: 0;
	padding: 0;
	color: black;
	text-align: center;
}

a, a:link, a:visited, a:active 
{
	color: Black;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

.bodysection
{
	text-align: left;
	width:804px;
	margin:0 auto;
}

/* HEADER SECTION *//*

#header
{
	background-image: url("../Images/header_background.jpg");
	background-color: #F0EDDF;
	background-repeat: no-repeat;
	width: 804px;
	height: 95px;
}

#bsuimage
{
	float: left;
	background-image:url("../Images/homelogo.jpg");
	background-repeat:no-repeat;
	height:55px;
	left:19px;
	position:relative;
	top:18px;
	width:221px;
}

#cstitle
{
	text-align: center;
	float: right;
	height:55px;
	top:20px;
	position:relative;
	width:540px;
}

#cstitle #top
{
	font-size: 130%;
}

#messagebar
{
	background-image: url("../Images/message-bar.jpg");
	background-repeat:no-repeat;
	width: 804px;
	height: 24px;
	text-align: center;
	vertical-align: middle; 
	padding-top: 1px;
}

/* MIDDLE SECTION *//*

#middle
{
	background-color: #F0EDDF;
	padding-top: 0px;
	width: 804px;
	margin:5px auto;
}

#middletop
{
	background-image: url("../Images/top.jpg");
	background-color: #F0EDDF;
	background-repeat: no-repeat;
	height: 30px;
	text-align: center;
}

#middletop #title 
{
	font-weight: bold;
	color: Gray;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
}

#middletop .link
{
	margin-right: 10px;
	float: right;
}

#middletop #links
{
	margin-right: 20px;
	margin-top: 10px;
	float: right;
}

#middlecenter
{
	padding: 10px 20px 20px 20px;
	background-color: White;
	_width: 804px;
	max-width: 804px;
}

#middlebottom
{
	background-image: url("../Images/bottom.jpg");
	background-color: #F0EDDF;
	background-repeat: no-repeat;
	text-align: center;
	height: 60px;
	padding-top: 15px;
	color: gray;
	font-size: 13px;
}

/* FOOTER SECTION */


